---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

const theDate = post.data.date;
---

<article>
  <a href={`/blog/${post.slug}`} title={post.data.title} role="button">
    <Image
      width={600}
      height={600 / 1.5}
      src={post.data.image}
      alt={post.data.title}
      class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
    />
    <div class="flex justify-between align-baseline">
      <small class="text-stone-400 uppercase">
        <em>By:</em>
        {post.data.author}
      </small>
      <small class="text-stone-400 uppercase text-xs"
        >{
          new Date(theDate).toLocaleDateString("en-EN", {
            weekday: "long",
            day: "2-digit",
            month: "long",
            year: "numeric",
          })
        }</small
      >
    </div>
    <a
      href={`/blog/${post.slug}`}
      title={post.data.title}
      role="button"
      class="text-4xl text-zinc-900 font-semibold inline-block"
    >
      <h2 class="mb-2 text-green-900 px-5 border-l-2 border-green-800">
        {post.data.title}
      </h2>
    </a>
    <p class="text-zinc-500 line-clamp-3 mb-14 text-xl">
      {post.body}
    </p>
  </a>
</article>
